<div class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h1>Bienvenido a Conociendo Córdoba</h1>
    </div>
    <div class="col-12 col-md-4">
      <form class="border p-3">
        <fieldset>
          <legend class="text-center fs-1"></legend>
         <div class="row">
          <div class="col-4 mx-auto">
            <img src="/assets/img/profile.svg" class="img-thumbnail" alt="" srcset="">
          </div>
         </div>
          <div class="mb-3">
            <label for="name" class="form-label ">Nombre</label>
            <input
              type="text"
              id="name"
              class="form-control"
              placeholder="Elon"
            />
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label ">Apellido</label>
            <input
              type="text"
              id="apellido"
              class="form-control"
              placeholder="Musk"
            />
          </div>
          <div class="mb-3">
            <label for="fecha de nacimiento" class=""
              >Fecha de nacimiento</label
            >
            <input
              type="date"
              id="fecha de nacimiento"
              class="form-control"
              min="1930-01-01"
              max="2023-12-31"
            />
          </div>
          <div class="mb-3">
            <label for="genero" class="">Género</label>
            <select name="genero" id="sexo" class="form-select">
              <option value="seleccion">Seleccione una opción</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
              <option value="no binario">No binario</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label "
              >Correo electrónico</label
            >
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="example@gmail.com"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label ">Contraseña</label>
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="password123"
            />
          </div>
          <div class="d-grid mt-5">
            <button type="submit" class="btn btn-success fw-bold">Enviar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
