<div class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <form class="border p-3">
        <fieldset>
          <legend class="text-center fs-1">
            Bienvenido a Conociendo Córdoba
          </legend>
          <div class="mb-3">
            <label for="email" class="form-label fs-5">Email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              placeholder="example@gmail.com"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label fs-5"
              >Contraseña</label
            >
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="password123"
            />
          </div>
          <div class="d-grid mb-3 mt-5">
            <button type="submit" class="btn btn-success fw-bold">Enviar</button>
          </div>
        </fieldset>
        <p>¿No tienes cuenta?</p>
        <div class="d-grid">
          <button type="submit" class="btn btn-warning fw-bold">
            <a class="nav-link" [routerLink]="['/registro']">Registrate</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
